.checkbox-login{
    margin-bottom: 10px;
    margin-top: 5px;
}
/*fixed table*/
.wrapper_grid_view{
    overflow: auto;
    max-height: 400px;
}
.wrapper_head_grid_view{
    overflow: hidden;
}
/*end fixed table*/