/*Custom*/
.clear-padding-left{
    padding-left: 0px !important;
}
.clear-padding-right{
    padding-right: 0px !important;
}
.clear-padding{
    padding:0px;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
/*end Custom*/

/*page home*/
.header{
    height: 110px;
}
.h-nav a{
    margin-right: 10px;
    color: #333333;
}
.titleLogo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    top: 20px;
    position: relative;
}
.logo{
    margin-top: 10px;
}
.h-search{
    margin-top: 35px;
}
.breadcrumb-wrapper{
    margin-bottom: 50px;
}
.h2-title{
    border-bottom: 3px solid #009ad9;
    color: #333;
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.dt{
    max-height: 300px;

}
.img-t{
    margin-left: auto;
    margin-right: auto;
}
.dt h2{
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    overflow-y: hidden;
}
.dt ul{
    padding-left: 14px;
}
.dt li{
    list-style-type: circle;
}
/*end page home*/
@media (max-width: 970px) {
    .dt{
        margin-left: 15px;
    }
    .dt-title{
        padding: 0px !important;
        font-size: 15px;
        height: 34px !important;
    }
    .dt ul{
        padding-left: 20px !important;
    }
}
@media (max-width: 768px) {
    .logo div{
        width: 170px;
        margin: auto;
    }
}