#SetEnv TZ Asia/Saigon
#ServerSignature Off
#ServerSignature EMail
#SetEnvIfNoCase X-Forwarded-For .+ proxy=yes
#SetEnvIfNoCase X-moz prefetch no_access=yes

#FileETag None

Options -Indexes +MultiViews +FollowSymlinks
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php

</IfModule>

<files Config.php>
order allow,deny
deny from all
</files>

<files .htaccess="">
order allow,deny
deny from all
</files>

Options All -Indexes

<FilesMatch "\.(ini)$">
  Order allow,deny
</FilesMatch>